body{
 /* background-color:rgb(235,247,254) !important ; */
}
.text-center{
  text-align: center;
}
.form-control{
  display: block;
  font-size: 16px;
  padding: 5px 5x;
  width: 400px; 
  /* width: fit-content; */
  margin: 5px 10px;
  margin-bottom: 9px;
}
