.login-form{
    width:440px;
    /* height: 600px; */
    background-color: white;
    margin: 50px auto;
    padding: 20px 35px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px grey;
}

.text-right{
    text-align: right;
}